# Renewable Energy Data EDA

### Import to dataframes

In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Postcode data (SSI = small scale installations, SGU = small generation unit, SWH = Solar water heating )
df_SSI_SGU_Hydro = pd.read_csv("data/PostCode Data/Postcode data for small-scale installations - SGU-Hydro.csv")
df_SSI_SGU_Solar = pd.read_csv("data/PostCode Data/Postcode data for small-scale installations - SGU-Solar.csv")
df_SSI_SGU_Wind = pd.read_csv("data/PostCode Data/Postcode data for small-scale installations - SGU-Wind.csv")
df_SSI_SWH_Air_source_heat_pump = pd.read_csv("data/PostCode Data/Postcode data for small-scale installations - SWH-Air-source-heat-pump.csv")
df_SSI_SWH_Solar = pd.read_csv("data/PostCode Data/Postcode data for small-scale installations - SWH-Solar.csv")

# Battery installations with SSI by state
df_battery_installations = pd.read_csv("data/PostCode Data/State data for battery installations with small-scale systems.csv")

# Australian postcode data reference dataset
df_AU_postcode_dataset = pd.read_excel("data/australian_postcodes.xlsx")

# Whole REC database (REC = renewable energy certificate)
df_REC_database = pd.read_csv("data/wholeRECdatabase_20230120_no_dups.csv",encoding='cp1252')

In [55]:
df_list = [
df_SSI_SGU_Hydro,
df_SSI_SGU_Solar,
df_SSI_SGU_Wind,
df_SSI_SWH_Air_source_heat_pump,
df_SSI_SWH_Solar,
df_battery_installations,
df_AU_postcode_dataset,
df_REC_database
]

for idx, df in enumerate(df_list, start=1):
    print(f"DataFrame {idx} - Name: {df.name if hasattr(df, 'name') else 'Unnamed'}, Shape: {df.shape}")

DataFrame 1 - Name: Unnamed, Shape: (20, 7)
DataFrame 2 - Name: Unnamed, Shape: (2806, 41)
DataFrame 3 - Name: Unnamed, Shape: (253, 5)
DataFrame 4 - Name: Unnamed, Shape: (2610, 21)
DataFrame 5 - Name: Unnamed, Shape: (2964, 21)
DataFrame 6 - Name: Unnamed, Shape: (10, 10)
DataFrame 7 - Name: Unnamed, Shape: (18513, 33)
DataFrame 8 - Name: Unnamed, Shape: (6271416, 17)

In [60]:
df_REC_database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6271416 entries, 0 to 6271415
Data columns (total 17 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Status                       object
 1   Owner                        object
 2   Accreditation_Code           object
 3   Fuel_Source_Active           bool
 4   Fuel_Source_Type             object
 5   Fuel_Source_Display_Name     object
 6   Generation_Year              int64
 7   Status.1                     object
 8   Start_Serial                 float64
 9   End_Serial                   float64
 10  State                        object
 11  Owner_Name                   object
 12  Creation_Year                int64
 13  Range_ID                     int64
 14  Creation_Date                object
 15  Public_Registered_Person_ID  int64
 16  Created_By                   object
dtypes: bool(1), float64(2), int64(4), object(10)
memory usage: 771.5+ MB

In [61]:
df_SSI_SGU_Hydro

,Small Unit Installation Postcode,Previous Years (2001-2021) - Installation Quantity,Previous Years (2001-2021) - SGU Output Rated Output In kW,May 2022 - Installations Quantity,May 2022 - SGU Rated Output In kW,Installations Quantity Total,SGU Rated Output In kW Total
0,837,1,4.000,0,0,1,4.000
1,2484,1,1.900,0,0,1,1.900
2,2527,1,4.000,0,0,1,4.000
3,3409,1,1.050,0,0,1,1.050
4,3691,1,1.000,0,0,1,1.000
5,3740,1,0.500,0,0,1,0.500
6,3777,1,0.200,0,0,1,0.200
7,3898,1,1.000,0,0,1,1.000
8,4521,1,0.500,0,0,1,0.500
9,4873,1,1.500,0,0,1,1.500
10,5048,1,1.500,0,0,1,1.500
11,6171,1,1.075,0,0,1,1.075
12,7012,2,2.520,0,0,2,2.520
13,7109,1,5.000,0,0,1,5.000
14,7150,1,0.360,0,0,1,0.360
15,7261,1,6.000,0,0,1,6.000
16,7265,1,6.300,0,0,1,6.300
17,7302,1,6.000,0,0,1,6.000
18,7306,0,0.000,1,1,1,1.000
19,7321,1,6.300,0,0,1,6.300